<h2 class="mb-4"> Egzaminy wewnętrzne </h2>
<p> Sprawdź wyniki egzaminu lub umów się na nowy, jeśli go jeszcze nie odbyłeś.</p>
<form class="form-margin">
  <div class="form-group">
    <label style="width: 200px"> Typ egzaminu
      <select class="browser-default custom-select" name="examType" [(ngModel)]="possibleExamType"
              style="font-size: 15px">
        <option [ngValue]="possibleExamType"> {{utils.translateExamTypeByNumber(possibleExamType)}}
        </option>
      </select>
    </label>
    <label style="margin-left: 30px; width: 320px"> Prowadzący
      <select class="browser-default custom-select" name="employee" [(ngModel)]="chosenTeacher"
              style="font-size: 15px">
        <option value=""></option>
        <option *ngFor="let teacher of teachers" [ngValue]="teacher">
          {{ teacher.fullName + " (" + teacher.email + ")" }}
        </option>
      </select>
    </label>
    <label style="margin-left: 30px"> Rozpoczęcie
      <input type="datetime-local" class="form-control border bg-light"
             style="width: 190px" name="startTime" (ngModelChange)="setEndTime($event)" [(ngModel)]="startTime">
    </label>
    <label style="margin-left: 30px"> Zakończenie
      <input type="datetime-local" class="form-control border bg-light"
             style="width: 190px" name="endTime" disabled [(ngModel)]="endTime">
    </label>
  </div>
  <div class="form-group" style="margin-top: 20px">
    <button type="button" class="btn btn-outline-dark" style="width: 15%"
            (click)="request()">Umów się
    </button>
    <a style="margin-left: 30px">{{feedback}}</a>
  </div>
</form>

<div [hidden]="waitingExams.length == 0 &&
     failedExams.length == 0 && passedExams.length == 0">

  <!--Egzaminy oczekujące (zgłoszone lub zaakceptowane)-->
  <table class="table table-bordered" style="margin-top: 5%">
    <thead class="thead-dark text-truncate">
    <tr>
      <th scope="col" style="width: 200px"> Prowadzący</th>
      <th scope="col" style="width: 150px"> Typ egzaminu</th>
      <th scope="col" style="width: 190px"> Status</th>
      <th scope="col" style="width: 100px"> Zaliczony</th>
      <th scope="col" style="width: 100px"> Wynik</th>
      <th scope="col" style="width: 130px"> Rozpoczęcie</th>
      <th scope="col" style="width: 130px"> Zakończenie</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let exam of waitingExams" style="background-color: lightyellow">
      <td style="width: 200px">{{utils.convertPersonToText(exam.employee)}}</td>
      <td style="width: 150px">{{utils.translateExamTypeByText(exam.examType)}}</td>
      <td style="width: 190px">{{utils.translateLessonStatus(exam.lessonStatus)}}</td>
      <td style="width: 100px">{{utils.convertExamIsPassedToText(exam.isPassed)}}</td>
      <td style="width: 100px">{{utils.convertExamResultToText(exam.result)}}</td>
      <td style="width: 130px">{{utils.convertEventDateToText(exam.startTime)}}</td>
      <td style="width: 130px">{{utils.convertEventDateToText(exam.endTime)}}</td>
    </tr>
    </tbody>
  </table>

  <!--Egzaminy niezrealizowane, odrzucone lub niezaliczone-->
  <table class="table table-bordered">
    <tbody>
    <tr *ngFor="let exam of failedExams" style="background-color: #ffeaea">
      <td style="width: 200px">{{utils.convertPersonToText(exam.employee)}}</td>
      <td style="width: 150px">{{utils.translateExamTypeByText(exam.examType)}}</td>
      <td style="width: 190px">{{utils.translateLessonStatus(exam.lessonStatus)}}</td>
      <td style="width: 100px">{{utils.convertExamIsPassedToText(exam.isPassed)}}</td>
      <td style="width: 100px">{{utils.convertExamResultToText(exam.result)}}</td>
      <td style="width: 130px">{{utils.convertEventDateToText(exam.startTime)}}</td>
      <td style="width: 130px">{{utils.convertEventDateToText(exam.endTime)}}</td>
    </tr>
    </tbody>
  </table>

  <!--Egzaminy zaliczone-->
  <table class="table table-bordered">
    <tbody>
    <tr *ngFor="let exam of passedExams" style="background-color: #d8ffd6">
      <td style="width: 200px">{{utils.convertPersonToText(exam.employee)}}</td>
      <td style="width: 150px">{{utils.translateExamTypeByText(exam.examType)}}</td>
      <td style="width: 190px">{{utils.translateLessonStatus(exam.lessonStatus)}}</td>
      <td style="width: 100px">{{utils.convertExamIsPassedToText(exam.isPassed)}}</td>
      <td style="width: 100px">{{utils.convertExamResultToText(exam.result)}}</td>
      <td style="width: 130px">{{utils.convertEventDateToText(exam.startTime)}}</td>
      <td style="width: 130px">{{utils.convertEventDateToText(exam.endTime)}}</td>
    </tr>
    </tbody>
  </table>
</div>
