@import url('../../../../../assets/styles/dashboard-style.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.form-margin {
  margin-top: 5%;
}

.table th, td {
  text-align: center;
  vertical-align: middle !important;
}

.table {
  margin: 6% 3%;
  width: 1050px;
}

.action-button {
  width: 80%;
  font-size: 12px;
  background-color: white;
}
