<h2 class="mb-4"> Jazdy szkoleniowe </h2>
<p> Reaguj na zgłoszone propozycje jazd i oceniaj te już przeprowadzone.</p>

<form class="form-margin">
  <div class="form-group">
    <table class="table table-bordered">
      <thead class="thead-dark text-truncate">
      <tr>
        <th scope="col" style="width: 300px"> Kursant</th>
        <th scope="col" style="width: 200px"> Status</th>
        <th scope="col" style="width: 180px"> Rozpoczęcie</th>
        <th scope="col" style="width: 180px"> Zakończenie</th>
        <th scope="col" style="width: 230px"> Zmiana statusu</th>
      </tr>
      </thead>
      <tbody *ngIf="requestedLessons.length == 0 && activeLessons.length == 0">
      <tr>
        <td colspan="5">Brak danych do wyświetlenia</td>
      </tr>
      </tbody>
    </table>
    <!--Zajęcia oczekujące na decyzję (zgłoszone)-->
    <table class="table table-bordered">
      <tbody>
      <tr *ngFor="let value of requestedLessons" style="background-color: lightyellow">
        <td style="width: 300px">{{utils.convertPersonToText(value.student)}}</td>
        <td style="width: 200px">{{utils.translateLessonStatus(value.drivingLesson.lessonStatus)}}</td>
        <td style="width: 180px">{{utils.convertEventDateToText(value.drivingLesson.startTime)}}</td>
        <td style="width: 180px">{{utils.convertEventDateToText(value.drivingLesson.endTime)}}</td>
        <td style="width: 110px">
          <button type="button" class="btn btn-outline-success request-button"
                  (click)="acceptRequest(value.drivingLesson)">Akceptacja
          </button>
        </td>
        <td style="width: 110px">
          <button type="button" class="btn btn-outline-danger request-button"
                  (click)="rejectRequest(value.drivingLesson)">Odrzucenie
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <!--Zajęcia oczekujące na zaliczenie (zaakceptowane)-->
    <table class="table table-bordered">
      <tbody>
      <tr *ngFor="let value of activeLessons">
        <td style="width: 300px">{{utils.convertPersonToText(value.student)}}</td>
        <td style="width: 200px">{{utils.translateLessonStatus(value.drivingLesson.lessonStatus)}}</td>
        <td style="width: 180px">{{utils.convertEventDateToText(value.drivingLesson.startTime)}}</td>
        <td style="width: 180px">{{utils.convertEventDateToText(value.drivingLesson.endTime)}}</td>
        <td style="width: 110px">
          <button type="button" class="btn btn-outline-success request-button"
                  (click)="passLesson(value.drivingLesson)">Zaliczony
          </button>
        </td>
        <td style="width: 110px">
          <button type="button" class="btn btn-outline-danger request-button"
                  (click)="failLesson(value.drivingLesson)">Niezaliczony
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</form>
