@import url('../../../../../assets/styles/dashboard-style.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.background-image {
  background-image: url('../../../../../assets/images/home-image.png');
}

.email-text {
  font-size: 15px !important;
}

.club-icon {
  background-image: url('../../../../../assets/images/club.png');
}
