<body>
<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="img bg-wrap text-center py-4 background-image">
      <div class="user-logo">
        <div class="img club-icon"></div>
        <h3 class="email-text">{{email}}</h3>
      </div>
    </div>
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a routerLink="data">
          <span class="fa fa-id-card mr-3"></span> Dane klubowe
        </a>
      </li>
      <li class="active">
        <a routerLink="trainers">
          <span class="fa fa-briefcase mr-3"></span> Trenerzy
        </a>
      </li>
      <li class="active">
        <a routerLink="athletes">
          <span class="fa fa-graduation-cap mr-3"></span> Zawodnicy
        </a>
      </li>
      <li class="active">
        <a routerLink="training-groups">
          <span class="fa fa-file-text mr-3"></span> Grupy treningowe
        </a>
      </li>
      <li class="active">
        <a routerLink="calendar">
          <span class="fa fa-calendar mr-3"></span> Treningi
        </a>
      </li>
      <li class="active">
        <a (click)="logout()">
          <span class="fa fa-sign-out mr-3"></span> Wyloguj się
        </a>
      </li>
    </ul>
  </nav>
  <div id="content" class="p-4 p-md-5 pt-5">
    <router-outlet></router-outlet>
  </div>
</div>
</body>
