@import url('../../../../../assets/styles/dashboard-style.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.table th, td {
  text-align: center;
  vertical-align: middle !important;
}

.table {
  margin: 2% 5%;
  width: 950px;
}

.form-margin {
  margin-left: 5%;
  margin-top: 5%;
}
