<h2 class="mb-4"> Jazdy szkoleniowe </h2>
<p> Sprawdź, jakie jazdy masz już za sobą i umów się z wybranym instruktorem na kolejne.</p>
<form class="form-margin">
  <div class="form-group">
    <label> Instruktor
      <select class="browser-default custom-select" name="employee" [(ngModel)]="instructor"
              style="font-size: 15px">
        <option value=""></option>
        <option *ngFor="let instructor of instructors" [ngValue]="instructor">
          {{ instructor.fullName + " (" + instructor.email + ")" }}
        </option>
      </select>
    </label>
    <label style="margin-left: 50px"> Rozpoczęcie
      <input type="datetime-local" class="form-control border bg-light"
             style="width: 200px" name="startTime" [(ngModel)]="startTime">
    </label>
    <label style="margin-left: 50px"> Zakończenie
      <input type="datetime-local" class="form-control border bg-light"
             style="width: 200px" name="endTime" [(ngModel)]="endTime">
    </label>
  </div>
  <div class="form-group" style="margin-top: 20px">
    <button type="button" class="btn btn-outline-dark" style="width: 15%"
            (click)="request()">Umów się
    </button>
    <a style="margin-left: 30px">{{feedback}}</a>
  </div>
</form>

<div [hidden]="waitingLessons.length == 0 &&
     failedLessons.length == 0 && passedLessons.length == 0">

  <!--Zajęcia oczekujące (zgłoszone lub zaakceptowane)-->
  <table class="table table-bordered" style="margin-top: 5%">
    <thead class="thead-dark text-truncate">
    <tr>
      <th scope="col" style="width: 300px"> Instruktor</th>
      <th scope="col" style="width: 250px"> Status</th>
      <th scope="col" style="width: 200px"> Rozpoczęcie</th>
      <th scope="col" style="width: 200px"> Zakończenie</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let lesson of waitingLessons" style="background-color: lightyellow">
      <td style="width: 300px">{{utils.convertPersonToText(lesson.employee)}}</td>
      <td style="width: 250px">{{utils.translateLessonStatus(lesson.lessonStatus)}}</td>
      <td style="width: 200px">{{utils.convertEventDateToText(lesson.startTime)}}</td>
      <td style="width: 200px">{{utils.convertEventDateToText(lesson.endTime)}}</td>
    </tr>
    </tbody>
  </table>

  <!--Zajęcia niezrealizowane lub odrzucone-->
  <table class="table table-bordered">
    <tbody>
    <tr *ngFor="let lesson of failedLessons" style="background-color: #ffeaea">
      <td style="width: 300px">{{utils.convertPersonToText(lesson.employee)}}</td>
      <td style="width: 250px">{{utils.translateLessonStatus(lesson.lessonStatus)}}</td>
      <td style="width: 200px">{{utils.convertEventDateToText(lesson.startTime)}}</td>
      <td style="width: 200px">{{utils.convertEventDateToText(lesson.endTime)}}</td>
    </tr>
    </tbody>
  </table>

  <!--Zajęcia zrealizowane-->
  <table class="table table-bordered">
    <tbody>
    <tr *ngFor="let lesson of passedLessons" style="background-color: #d8ffd6">
      <td style="width: 300px">{{utils.convertPersonToText(lesson.employee)}}</td>
      <td style="width: 250px">{{utils.translateLessonStatus(lesson.lessonStatus)}}</td>
      <td style="width: 200px">{{utils.convertEventDateToText(lesson.startTime)}}</td>
      <td style="width: 200px">{{utils.convertEventDateToText(lesson.endTime)}}</td>
    </tr>
    </tbody>
  </table>
</div>
