<h2 class="mb-4"> Wykłady </h2>
<p> Tu możesz śledzić kolejne wykłady składające się na Twój cykl, a także sprawdzić status jego zaliczenia.
</p>
<form class="form-margin">
  <div class="form-group">
    <label> Cykl wykładów
      <input type="text" class="form-control border bg-light" disabled
             style="width: 450px; font-size: 15px" name="activeTheory"
             [ngModel]="activeTheory != null ? utils.convertLectureSeriesToText(activeTheory.lectureSeries) : ''">
    </label>
    <label style="margin-left: 50px"> Status cyklu
      <input type="text" class="form-control border bg-light" disabled
             style="width: 200px; font-size: 15px" name="seriesStatus"
             [ngModel]="activeTheory != null ? utils.translateLecturesSeriesStatus(activeTheory.lectureSeries.status) : ''">
    </label>
    <label style="margin-left: 50px"> Status zajęć
      <input type="text" class="form-control border bg-light" disabled
             style="width: 200px; font-size: 15px" name="theoryStatus"
             [ngModel]="activeTheory != null ? utils.translateLessonStatus(activeTheory.lessonStatus) : ''">
    </label>
  </div>
</form>

<!--Wykłady zrealizowane (z datą przeszłą)-->
<table class="table table-bordered table-striped" style="margin-top: 7%">
  <thead class="thead-dark text-truncate">
  <tr>
    <th scope="col" style="width: 50px"> Nr</th>
    <th scope="col" style="width: 300px"> Temat</th>
    <th scope="col" style="width: 250px"> Dodatkowe informacje</th>
    <th scope="col" style="width: 200px"> Rozpoczęcie</th>
    <th scope="col" style="width: 200px"> Zakończenie</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let lecture of pastLectures" style="background-color: #d8ffd6">
    <td style="width: 50px">{{pastLectures.indexOf(lecture) + 1}}</td>
    <td style="width: 300px">{{lecture.subject}}</td>
    <td style="width: 250px">{{utils.convertTextIfEmpty(lecture.additionalInfo)}}</td>
    <td style="width: 200px">{{utils.convertEventDateToText(lecture.startTime)}}</td>
    <td style="width: 200px">{{utils.convertEventDateToText(lecture.endTime)}}</td>
  </tr>
  </tbody>
</table>

<!--Wykłady planowane (z datą przyszłą)-->
<table class="table table-bordered " style="background-color: lightyellow">
  <tbody>
  <tr *ngFor="let lecture of futureLectures">
    <td style="width: 50px">{{pastLectures.length + futureLectures.indexOf(lecture) + 1}}</td>
    <td style="width: 300px">{{lecture.subject}}</td>
    <td style="width: 250px">{{utils.convertTextIfEmpty(lecture.additionalInfo)}}</td>
    <td style="width: 200px">{{utils.convertEventDateToText(lecture.startTime)}}</td>
    <td style="width: 200px">{{utils.convertEventDateToText(lecture.endTime)}}</td>
  </tr>
  </tbody>
</table>
