@import url('../../../../../assets/styles/dashboard-style.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.full-rectangle {
  height: 30px;
  background-color: #f1f2f3;
}

.part-rectangle {
  height: 30px;
  margin-top: -1px;
  margin-left: -1px;
  background: #5b616f;
}

#theoryChart {
  width: 200px;
  height: 150px;
}

#practiceChart {
  width: 200px;
  height: 150px;
}

.chart-title {
  margin-top: -2%;
  margin-left: 10%;
}

.table th, td {
  text-align: center;
  vertical-align: middle !important;
  line-height: 15px;
}

.table {
  margin: 9% 8%;
  width: 500px;
}
