<h2 class="mb-4"> {{name}} </h2>
<p> W swoim klubie możesz czuć się, jak u siebie w domu. </p>
<form class="form-margin">
  <div class="form-group">
    <label> Numer NIP
      <input type="text" class="form-control border bg-light" disabled
             style="width: 250px; font-size: 14px" name="nipNumber" [(ngModel)]="nipNumber">
    </label>
    <label style="margin-left: 40px"> Typ klubu
      <input type="text" class="form-control border bg-light" disabled
             style="width: 250px; font-size: 14px" name="clubType" [(ngModel)]="clubType">
    </label>
  </div>
  <div class="form-group" style="margin-top: 30px">
    <label> Adres
      <input type="text" class="form-control border bg-light" disabled
             style="width: 540px; font-size: 14px" name="address" [(ngModel)]="address">
    </label>
  </div>
  <div class="form-group" style="margin-top: 30px">
    <label> Numer telefonu
      <input type="text" class="form-control border bg-light" disabled
             style="width: 160px; font-size: 14px" name="phoneNumber" [(ngModel)]="phoneNumber">
    </label>
    <label style="margin-left: 30px"> Data utworzenia
      <input type="date" class="form-control border bg-light" disabled
             style="width: 160px; font-size: 14px" name="creationDate" [(ngModel)]="creationDate">
    </label>
    <label style="margin-left: 30px"> Data rejestracji
      <input type="date" class="form-control border bg-light" disabled
             style="width: 160px; font-size: 14px" name="registrationDate" [(ngModel)]="registrationDate">
    </label>
  </div>
</form>
