@import url('../../../common/calendar/calendar.component.css');

.form-margin {
  margin-top: -2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-button {
  margin-left: 30px;
  width: 180px;
}
